{% extends 'site/base.html.twig' %}

{% set page_title = '1.A třída' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <div class="table-responsive">
        <table class="table">
            <tbody>
            {% for season in seasons %}
                {% set seasonYear = (season.season+1)|split('', 2) %}
                <tr>
                    <td class="font-weight-bold" style="width: 6em">
                        {{ season.season }}/{{ seasonYear.1 }}
                    </td>
                    <td style="width: 7.2em">
                        <a href="{{ path('season_stats', {'league': 'a-trida', 'season': season.season}) }}">Celá sezóna</a>
                    </td>
                    <td style="width: 4em">
                        {% if season.autumn == true %}
                            <a href="{{ path('season_stats', {'league': 'a-trida', 'season': season.season, 'part': 'podzim'}) }}">Podzim</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if season.spring == true %}
                            <a href="{{ path('season_stats', {'league': 'a-trida', 'season': season.season, 'part': 'jaro'}) }}">Jaro</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
