<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('site_base') }}
    {% block css %}{% endblock %}

    {# ------- favicon ------- #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#ffffff">
    {# ---- end of favicon ---- #}

    <title>Rozhodčí PFS{% if page_title is defined %} | {{ page_title }}{% endif %}</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">
                <img src="{{ asset('images/site/white_whistle.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                Rozhodčí PFS
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">O projektu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('league', {'league': 'prebor'}) }}">Přebor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('league', {'league': 'a-trida'}) }}">1.A třída</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('site_officials') }}">Rozhodčí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('site_assessors') }}">Delegáti</a>
                    </li>
                    <div class="my-nav-divider"></div>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('for_officials') }}">Pro rozhodčí</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">

        {% block loading %}{% endblock %}

        <div class="container container-main pt-3 pt-md-4 pl-md-5">
            <h1 class="h3 font-weight-bold mb-4">{% block heading %}{% endblock %}</h1>

            {% block main %}

            {% endblock %}
        </div>
    </main>

    <div hidden>
        <span id="new-window">Otevře stránku v novém okně</span>
    </div>

    {{ encore_entry_script_tags('app') }}
    {% block scripts %}{% endblock %}

</body>
</html>
