{% extends 'site/base.html.twig' %}

{% set page_title = league %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    {% for season in seasons %}

        {% set seasonEndYear = (season.season+1)|slice(2, 2) %}

        <ul class="d-flex flex-column flex-sm-row align-items-sm-center pl-2_5 border-top pt-3 mb-2">
            <li class="h5 font-weight-bold">
                {{ season.season }}/{{ seasonEndYear }}
            </li>
            <li class="ml-sm-4 mb-2">
                <a class="btn btn-outline-primary" href="{{ path('season_stats', {'league': slug, 'season': season.season}) }}" role="button">Celá sezóna</a>
            </li>
            {% if season.autumn == true %}
                <li class="ml-sm-3 mb-2">
                    <a class="btn btn-outline-primary" href="{{ path('season_stats', {'league': slug, 'season': season.season, 'part': 'podzim'}) }}" role="button">Podzim</a>
                </li>
            {% endif %}
            {% if season.spring == true %}
                <li class="ml-sm-3 mb-2">
                    <a class="btn btn-outline-primary" href="{{ path('season_stats', {'league': slug, 'season': season.season, 'part': 'jaro'}) }}" role="button">Jaro</a>
                </li>
            {% endif %}
        </ul>

    {% endfor %}

{% endblock %}
