{% extends 'site/base.html.twig' %}

{% block title %}Rozhodčí PFS - {{ official.name }}{% endblock %}

{% block heading %}{{ official.name }}{% endblock %}

{% block main %}

    <h2 class="h4">Nominační listiny</h2>

    {% if official.nominationLists is not empty %}
        <table class="table">
            <tbody>
            {% for nominationList in official.nominationLists %}
                <tr>
                    <td style="width: 10em">{{ nominationList.year }} - {{ nominationList.partOfSeason }}</td>
                    <td class="font-weight-bold">{{ nominationList.leagueLevelName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>U tohoto rozhodčího nejsou vedeny žádné nominační listiny.</p>
    {% endif %}

{% endblock %}
