{% extends 'site/base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% set page_title = official.name %}

{% block heading %}{{ page_title }}{% endblock %}

{% block loading %}
    {{ include('site/_loading_stats.html.twig') }}
{% endblock %}

{% block main %}

    {{ include('site/_show_hide_buttons.html.twig') }}

    {{ include('site/official_stats/nomination_lists.html.twig') }}

    <h2 class="h4 mb-3 pt-3 stats-subheading">Zápasy</h2>

    {{ include('site/official_stats/referee_matches.html.twig') }}

    {{ include('site/official_stats/ar1_matches.html.twig') }}

    {{ include('site/official_stats/ar2_matches.html.twig') }}

    {{ include('site/official_stats/ar1_and_ar2_matches.html.twig') }}

    {{ include('site/official_stats/official_matches.html.twig') }}

    <h2 class="h4 mb-3 pt-3 stats-subheading">Karty</h2>

    {{ include('site/official_stats/referee_yellow.html.twig') }}

    {{ include('site/official_stats/referee_yellow_avg.html.twig') }}

    {{ include('site/official_stats/referee_yellow_first.html.twig') }}

    {{ include('site/official_stats/referee_red.html.twig') }}

    {{ include('site/official_stats/referee_red_avg.html.twig') }}

    {{ include('site/official_stats/referee_red_offence.html.twig') }}

    {{ include('site/official_stats/referee_cards_minutes.html.twig') }}

    <h2 class="h4 mb-3 pt-3 stats-subheading">Interakce</h2>

    {{ include('site/official_stats/referee_ar.html.twig') }}

    {{ include('site/official_stats/official_official.html.twig') }}

    {{ include('site/official_stats/referee_assessor.html.twig') }}

    {{ include('site/official_stats/official_assessor.html.twig') }}

    {{ include('site/official_stats/official_team.html.twig') }}

    {{ include('site/official_stats/official_home_team.html.twig') }}

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('site_profile') }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        {{ gc_draw([redOffenceChart, cardsMinutesChart], ['red_offence_chart', 'cards_minutes_chart']) }}
    </script>
    {{ encore_entry_script_tags('site_official_profile') }}
{% endblock %}
