{% extends 'admin/base.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/form.css') }}">{% endblock %}

{% set page_title = 'Přidání zápasu' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p>
        Překontrolujte prosím data ve formuláři a poté je uložte do systému.
    </p>

    <p>
        U&nbsp;karet udělených v&nbsp;nastavení poločasů uvádějte hodnoty 45 nebo 90.
        V&nbsp;případě nahrání zdrojového kódu je to provedeno automaticky.
        Přípustné jsou i&nbsp;nečíselné hodnoty v případě, že karta nebyla udělena v&nbsp;průběhu hry.
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-save-game" value="Uložit zápas"/>
    {{ form_end(form) }}

{% endblock %}

{% block scripts %}
    <script src="{{ asset('scripts/admin/add_game_form.js') }}"></script>
{% endblock %}
