{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/add_nomination_list.css') }}">
{% endblock %}

{% block title %}Rozhodčí PFS - Přidat listiny{% endblock %}

{% block heading %}Přidat listiny{% endblock %}

{% block main %}

    <p>
        Přiřaďte ke každému rozhodčímu příslušnou listinu pro daný půlrok. (Rozhodčí jsou řazeni podle abecedy.)
    </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-save" value="Uložit"/>
    {{ form_end(form) }}

{% endblock %}
