{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block css %}{{ encore_entry_link_tags('admin_add_game') }}{% endblock %}

{% set page_title = 'Přidat zápas' %}

{% block loading %}
    <div class="loading d-none">
        <div class="loading-align">
            <div class="loading-animation"></div>
            <div>Aktualizace statistik...</div>
            <p class="text-muted">
                Operace může chvíli trvat, mějte prosím strpení.
            </p>
        </div>
    </div>
{% endblock %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <div class="mb-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn-send" value="Odeslat"/>
        {{ form_end(form) }}
    </div>

    <a class="btn btn-outline-primary btn-sm mb-3" href="{{ path('add_game_form') }}" role="button">Přidat zápas ručně</a>
    <br>
    <a class="btn btn-outline-primary btn-sm mb-4" href="{{ path('games') }}" role="button">Seznam přidaných zápasů</a>

    <p>
        Na této stránce je možné vložit data ze zápasů. Do pole výše vložte zdrojový HTML kód stránky se zápisem
        o&nbsp;utkání z&nbsp;portálu
        <a href="https://is.fotbal.cz/"
           target="_blank" rel="noopener" aria-describedby="new-window">IS&nbsp;FAČR{{ include('icon/new_window.html.twig') }}</a>.
        Po vložení jednoho či více celých kol je potřeba aktualizovat tabulky se statistikami pomocí tlačítka níže.
    </p>

    <button type="button" class="btn btn-primary mb-4" id="update_stats" data-path="{{ path('update_stats') }}">
        Aktualizovat statistiky
    </button>

    <div id="new_season" class="alert alert-warning mb-0">Na začátku nové sezóny je potřeba zkontrolovat, jestli některý tým nepozměnil
        svůj název (který se objevuje v&nbsp;zápisech) a případně ho aktualizovat na stránce <a href="{{ path('teams') }}">Týmy</a>.
    </div>

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('admin_add_game') }}
{% endblock %}
