{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/add_game.css') }}">{% endblock %}

{% set page_title = 'Přidat zápas' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <div class="mb-3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary btn-send" value="Odeslat"/>
        {{ form_end(form) }}
    </div>

    <div class="mb-4 mb-md-5">
        <a href="{{ path('add_game_form') }}">Přidat zápas ručně</a>
    </div>

    <p>
        Na této stránce je možné vložit data ze zápasů. Do pole výše vložte zdrojový HTML kód stránky se zápisem
        z&nbsp;utkání z&nbsp;portálu <a href="https://is.fotbal.cz/" target="_blank">IS FAČR</a>.
        Po vložení jednoho či více celých kol je potřeba aktualizovat tabulky se statistikami pomocí tlačítka níže.
    </p>

    <button type="button" class="btn btn-primary mb-1" id="update_stats">Aktualizovat statistiky</button>
    <p class="text-muted">
        (Operace může chvíli trvat, mějte prosím strpení.)
    </p>

{% endblock %}

{% block scripts %}
    <script>
        $('#update_stats').on('click', function () {
            location.href = "{{ path('update_stats') }}";
        });
    </script>
{% endblock %}
