{% extends 'admin/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block css %}<link rel="stylesheet" type="text/css" href="{{ asset('styles/admin/form.css') }}">{% endblock %}

{% if page_title is not defined %}
    {% set page_title = 'Editace novinky' %}
{% endif %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p>
        Pro nastylování příspěvku, vložení odkazů, seznamů apod. použijte
        <a href="https://cs.wikipedia.org/wiki/Markdown#P%C5%99%C3%ADklad_u%C5%BEit%C3%AD" target="_blank" rel="noopener" aria-describedby="new-window">Markdown
            <svg class="icon" focusable="false" aria-hidden="true"> <use href="{{ asset('images/icons_sprite.svg') }}#new-window"></use> </svg></a>.
    </p>

    {{ form_start(form, { 'attr': { 'class': 'post' } }) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-save" value="Publikovat"/>
    {{ form_end(form) }}

{% endblock %}
