{% extends 'admin/base.html.twig' %}

{% set page_title = 'Tresty' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p>
        Tresty od disciplinární komise jsou k&nbsp;nalezení
        <a href="https://facr.fotbal.cz/uredni-deska-rozhodnuti?officialBoardFilter-subject-id=251"
           target="_blank" rel="noopener" aria-describedby="new-window">na této stránce{{ include('icon/new_window.html.twig') }}</a>.
    </p>
    <p>
        Zvolte soutěž, sezónu a kolo. Poté z&nbsp;vypsaných zápasů vyberte ten, kterého se trest týká.
    </p>

    <div class="mb-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" value="Zobrazit"/>
            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <ul class="list-group list-group-flush">
        {% for game in games %}
            <li>
                <a href="{{ path('add_punishments', {'gameId': game.id}) }}" class="list-group-item">
                    {{ game.homeTeam.shortName }} - {{ game.awayTeam.shortName }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
