{% extends 'admin/base.html.twig' %}

{% block css %}{{ encore_entry_link_tags('admin_form') }}{% endblock %}

{% set page_title = 'Tresty' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p>
        Tresty od disciplinární komise jsou k&nbsp;nalezení
        <a href="https://facr.fotbal.cz/uredni-deska-rozhodnuti?officialBoardFilter-subject-id=251" target="_blank" rel="noopener" aria-describedby="new-window">na této stránce
            <svg class="icon" focusable="false" aria-hidden="true"> <use href="{{ asset('images/icons_sprite.svg') }}#new-window"></use> </svg></a>.
    </p>
    <p>
        Zvolte soutěž, sezónu a kolo. Poté z&nbsp;vypsaných zápasů vyberte ten, kterého se trest týká.
    </p>

    <div class="mb-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Zobrazit"/>
        {{ form_end(form) }}
    </div>

    <ul class="list-group list-group-flush">
        {% for game in games %}
            <li>
                <a href="{{ path('add_punishments', {'gameId': game.id}) }}" class="list-group-item">
                    {{ game.homeTeam.shortName }} - {{ game.awayTeam.shortName }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
