{% extends 'admin/base.html.twig' %}

{% set page_title = 'Soutěže' %}

{% block heading %}{{ page_title }}{% endblock %}

{% block main %}

    <p class="mb-4">
        V&nbsp;případě, že některá soutěž změnila časem své jméno, jsou dvě možnosti. Buď změňte název soutěže na nový,
        nebo můžete nechat soutěž s&nbsp;původním názvem v&nbsp;systému a přidat soutěž s&nbsp;novým názvem.
    </p>

    <a href="{{ path('create_league') }}" role="button" class="btn btn-primary mb-4">+ Přidat novou soutěž</a>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Celý název</th>
            <th scope="col">Zkrácený název</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td class="align-middle">{{ league.fullName }}</td>
                <td class="align-middle">{{ league.shortName }}</td>
                <td class="text-right">
                    <a href="{{ path('edit_league', {'id': league.id}) }}" role="button" class="btn btn-sm btn-primary">
                        Editovat
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
