{% extends 'site/official_stats/stat_table_base.html.twig' %}

{% set statTableClass = 'stat-table-official-inter' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <th scope="col">{{ entity_name }}</th>
    {% for season in seasons %}
        {% set seasonEndYear = (season + 1)|split('', 2) %}
        <th scope="col">{{ season }}/{{ seasonEndYear.1 }}</th>
    {% endfor %}
    <th scope="col">Celkem</th>
{% endblock %}

{% block body %}
    {% for key, stat in stats[stat_key] %}
        <tr>
            <td>{{ key }}</td>
            {% for season in seasons %}
                <td>{% if stat[season] is defined %}{{ stat[season] }}{% endif %}</td>
            {% endfor %}
            <td class="font-weight-bold">{{ stat.total }}</td>
        </tr>
    {% endfor %}
{% endblock %}
