{% extends 'site/official_stats/stat_table_base.html.twig' %}

{% set statTableClass = 'stat-table-official-inter' %}

{% block div_id %}{{ div_id }}{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    <th scope="col">{{ entity_name }}</th>
    {% for season in seasons %}
        {% set seasonEndYear = (season + 1)|slice(2, 2) %}
        <th scope="col" class="text-center">{{ season }}/{{ seasonEndYear }}</th>
    {% endfor %}
    <th scope="col" class="text-center">Celkem</th>
{% endblock %}

{% block body %}
    {% for key, stat in stats[stat_key] %}
        <tr>
            <td>{{ key }}</td>
            {% for season in seasons %}
                <td class="text-center">{% if stat[season] is defined %}{{ stat[season] }}{% endif %}</td>
            {% endfor %}
            <td class="font-weight-bold text-center">{{ stat.total }}</td>
        </tr>
    {% endfor %}
{% endblock %}
